.vscode/**
.vscode-test/**
coverage
src/**
test/**
.editorconfig
.eslintignore
.eslintrc.cjs
.gitignore
.npmrc
.nvmrc
.prettierignore
.prettierrc.mjs
.vscode-test.mjs
package-lock.json
tsconfig.json
**/*.map
**/*.ts
